body {
    background: rgb(22, 31, 37);
    min-height: 100vh;
    color: #f8fafc;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: rgb(255, 255, 255);
}

.news-card {
            transition: transform 0.2s;
            height: 100%;
        }
        .news-card:hover {
            transform: translateY(-5px);
        }
        .news-image {
            height: 200px;
            object-fit: cover;
        }
        .news-description {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        .news-date {
            font-size: 0.85rem;
            color: #666;
        }