<style>
        
    body {
        overflow-x: hidden;
    }
    
    .banner-container {
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        width: 100vw;
        background-color: black;
        margin-top: -20px; 
    }

    #banner {
        display: block;
        height: 200px;
        width: 100%; 
        object-fit: cover;
        margin: 0 auto;
        max-width: 100vw; 
    }
</style>

<div class="banner-container">
    <img class="img-fluid mt-3" id="banner" src="/static/banner.jpeg" alt="banner">
</div>

